<div class="container">
  <h1>Gestion de carreras</h1>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nombre</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let carrera of listaCarreras">
      <td>{{carrera.codigoCarrera}}</td>
      <td>{{carrera.nombreCarrera}}</td>
      <td class="hd-buttons">
        <button class="eliminar" (click)="eliminarCarrera(carrera.codigoCarrera)">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>
  <hr>
  <div class="container">
    <form>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="input-text" id="nombre" name="nombre" [(ngModel)]="carreraNueva.nombreCarrera">
      </div>
      <button class="crear" (click)="crearCarrera()">Crear</button>
    </form>
  </div>
</div>
