<header class="d-flex justify-content-center py-3">
  <div>

  </div>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <button type="Inicio" (click)="inicio()">Inicio</button>
    </li>
    <li class="nav-item">
      <button type="Registro" (click)="registro()">Registro</button>
    </li>
    <li class="nav-item">

      <button type="Carrera" (click)="carrera()">Carrera</button>
    </li>
    <li class="nav-item">
      <button type="Rol" (click)="rol()">Rol</button>
    </li>
    <li class="nav-item">
      <button type="qr" (click)="qr()">QR</button>
    </li>
    <li class="nav-item">
      <button type="Login" (click)="login()">Login</button>
    </li>
    <li class="nav-item">
      <button type="Lugar" (click)="lugar()">Lugar</button>
    </li>
    <li class="nav-item">
      <button type="Escanear" (click)="controlIngreso()">Escanear</button>
    </li>
    <li class="nav-item">
      <button type="Ingresos" (click)="ingresoUsuario()">Ingresos</button>
    </li>
  </ul>
</header>
