<div class="container">
    <p (click)="inicio()">
      Control de acceso UQ
    </p>
    <div class="nav-container">
      <div class="nav-item">
        <button type="Usuarios" (click)="inicio()">Usuarios</button>
      </div>
      <div class="nav-item">
        <button type="Carrera" (click)="carrera()">Carrera</button>
      </div>
      <div class="nav-item">
        <button type="Rol" (click)="rol()">Rol</button>
      </div>
      <div class="nav-item">
        <button type="qr" (click)="qr()">QR</button>
      </div>
      <div class="nav-item">
        <button type="Login" (click)="login()">Login</button>
      </div>
      <div class="nav-item">
        <button type="Lugar" (click)="lugar()">Lugar</button>
      </div>
      <div class="nav-item">
        <button type="Escanear" (click)="controlIngreso()">Escanear</button>
      </div>
      <div class="nav-item">
        <button type="Ingresos" (click)="ingresoUsuario()">Ingresos</button>
      </div>
      <div class="nav-item">
        <button type="Perfil" (click)="perfilUsuario()">Perfil</button>
      </div>
    </div>
</div>
