<div class="container">
  <h1>Gestion de roles</h1>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nombre</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rol of listaRoles">
      <td>{{rol.codigoRol}}</td>
      <td>{{rol.nombreRol}}</td>
      <td class="hd-buttons">
        <button class="eliminar" (click)="eliminarRol(rol.codigoRol)">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>
  <hr>
  <div class="container">
    <form>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="input-text" id="nombre" name="nombre" [(ngModel)]="rolNuevo.nombreRol">
      </div>
      <button class="crear" (click)="crearRol()">Submit</button>
    </form>
  </div>
</div>
