<div class="container">
  <form>
    <h1>
      Escaneo de códigos QR
    </h1>
    <div class="container mt-5">
      <select class="form-select" [(ngModel)]="lugarSeleccionado" name="lugarSeleccionado" (change)="capturar()">
        <option value="0" class="opcion">Selecciona un lugar</option>
        <option *ngFor="let lugar of listaLugares" class="opcion">{{lugar.nombre}}</option>
      </select>
    </div>
  </form>
  <div class="camera-container">
    <qr-scanner>
      [debug]="false"
      [canvasWidth]="1080"
      [canvasHeight]="720"
      [stopAfterScan]="true"
      [updateTime]="500">
    </qr-scanner>
  </div>
</div>
