*{
  box-sizing: border-box;
}

h1{
  margin: 0;
  padding: 0;
}


.login{
  min-width: 300px;
  max-width: 60%;
  margin: 0 auto;
  padding: 2rem 3rem;
  border-radius: 2.5rem;
  background-color: lightgray;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  color: black;
  margin-top: 2rem;
}

.input-text{
  display: block;
  margin: 1rem 0;
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
  rgba(0, 0, 0, 0.1);

}

input{
  cursor: pointer;
}

.checks{
  align-items: center;
  justify-content: center;
  align-content: center;
}
input[type="checkbox"]{
  margin: 0;
  width: 1.2rem;
  height: 1.2rem;
}

button{
  width: 100%;
  display: block;
  margin-top: 1rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;

}

label{
  display: block;
  margin-top: 5px;
}
