<div class="container">
  <h1>
    Gestión de lugares
  </h1>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">Tipo</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let lugar of listaLugares">
      <td>{{lugar.codigoLugar}}</td>
      <td>{{lugar.nombre}}</td>
      <td>{{lugar.direccion}}</td>
      <td>{{lugar.tipo}}</td>
      <td class="hd-buttons">
        <button class="eliminar" (click)="eliminarLugar(lugar.codigoLugar)">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>
  <hr>
  <div class="container">
    <form>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="input-text" id="nombre" name="nombre" [(ngModel)]="lugarNuevo.nombre">
      </div>
      <div class="mb-3">
        <label for="direccion" class="form-label">Direccion</label>
        <input type="text" class="input-text" id="direccion" name="direccion" [(ngModel)]="lugarNuevo.direccion">
      </div>
      <div class="mb-3">
        <label for="tipo" class="form-label">Tipo</label>
        <input type="text" class="input-text" id="tipo" name="tipo" [(ngModel)]="lugarNuevo.tipo">
      </div>
      <button class="crear" (click)="crearLugar()">Crear</button>
    </form>
  </div>
</div>
